body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0b3d91;
    color: white;
    padding: 15px 40px;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 80vh;
    background: linear-gradient(to right, #0b3d91, #000);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 3em;
}

.hero p {
    max-width: 600px;
}

/* SECTIONS */
.section {
    padding: 60px 20px;
    text-align: center;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
